
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chat-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .chat-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@keyframes chat-pop {
  0% { transform: scale(0.9) translateY(20px); opacity: 0; }
  100% { transform: scale(1) translateY(0); opacity: 1; }
}

@keyframes msg-fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
