
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Scrollbar cho khung chat */
  .chat-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .chat-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  
  /* Ẩn scrollbar cho carousel sản phẩm */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .product-card-snap {
    scroll-snap-align: start;
  }
}
